menu "Connectivity"

source "components/connectivity/mqtt/Kconfig"
source "components/connectivity/lwm2m/Kconfig"
source "components/connectivity/agent_tiny/Kconfig"
source "components/connectivity/nb_iot/Kconfig"
source "components/connectivity/atiny_log/Kconfig"

endmenu
