config  LOSCFG_COMPAT_CMSIS
    bool "Enable Cmsis"
    default y
    select LOSCFG_KERNEL_MEMBOX if CMSIS_OS_VER = 1
    help
      Answer Y to enable LiteOS support cmsis interface.

if LOSCFG_COMPAT_CMSIS

config CMSIS_OS_VER
    int "Cmsis Api Version"
    default 2
    help
      The Cmsis Version Only Support 1 or 2.

endif # LOSCFG_COMPAT_CMSIS

