menu "Utility"

source "components/utility/bidireference/Kconfig"
source "components/utility/c-algorithms/Kconfig"
source "components/utility/curl/Kconfig"
source "components/utility/fastlz/Kconfig"
source "components/utility/freetype/Kconfig"
source "components/utility/harfbuzz/Kconfig"
source "components/utility/iconv/Kconfig"
source "components/utility/inih/Kconfig"
source "components/utility/iniparser/Kconfig"
source "components/utility/json-c/Kconfig"
source "components/utility/jsoncpp/Kconfig"
source "components/utility/libxml2/Kconfig"
source "components/utility/pdfgen/Kconfig"
source "components/utility/sqlite/Kconfig"
source "components/utility/thttpd/Kconfig"
source "components/utility/tinyxml2/Kconfig"
source "components/utility/sfud/Kconfig"
source "components/utility/uriparser/Kconfig"

endmenu

