menu "Agriculture Demo"

config LOSCFG_DEMOS_AGRICULTURE
    bool "Enable Agriculture Demo"
    depends on LOSCFG_DRIVER_E53
    default n
    help
      Answer y to enable agriculture demo.

endmenu
