config LOSCFG_DEMOS_OPENEXIF
    bool "Enable Openexif Demo"
    select LOSCFG_COMPONENTS_OPENEXIF
    select LOSCFG_COMPONENTS_FS_FATFS
    default n
    help
      Answer y to enable openexif demo.
