config LOSCFG_ARM_GENERIC_TIMER
    bool
    help
      ARM generic timer.

config LOSCFG_ARM_PRIVATE_TIMER
    bool
    help
      ARM private timer.

config LOSCFG_CORTEX_M_SYSTICK
    bool
    help
      ARM cortex-m systick.

config LOSCFG_ARM_SP804_TIMER
    bool
    help
      ARM sp804 dual timer.

config LOSCFG_ARM_SP804_HRTIMER
    bool
    help
      ARM sp804 dual timer as hrtimer.

config LOSCFG_ARM_SP804_ADVANCED
    bool
    select LOSCFG_BASE_CORE_SWTMR
    help
      If enabled advanced driver of ARM sp804 timer.
      If enabled, then use a swtmr and an additional hardware timer to recording the system running period.

config LOSCFG_RISCV32_M_TIMER
    bool
    help
      RISCV32 machine timer.

config LOSCFG_CSKY_SYSTICK
    bool
    help
      CSKY systick.

config LOSCFG_RASPBERRY_PI_SYSTICK
    bool
    help
      Raspberry Pi2B Systick.
