config LOSCFG_ARM_GIC_V2
    bool
    help
      This GIC(General Interrupt Controller) version 2 driver is compatatble with
      GIC version 1 and version 2.

config LOSCFG_ARM_GIC_V3
    bool
    depends on LOSCFG_ARCH_ARM_V8A || LOSCFG_ARCH_ARM_V8R
    help
      General Interrupt Controller version 3.

config LOSCFG_CORTEX_M_NVIC
    bool
    help
      NVIC(Nested Vectored Interrupt Controller) for Cortex-M.

config LOSCFG_PLATFORM_BSP_XTENSA_XEA3
    bool
    help
      General Interrupt Controller xtensa xea3.

config LOSCFG_PLATFORM_BSP_RISCV_PLIC
    bool
    depends on LOSCFG_ARCH_RISCV
    help
      Riscv Platform Level Interrupt Controller

config LOSCFG_PLATFORM_BSP_VIC
    bool
    help
      VIC(Vectored Interrupt Controller) for C-SKY.

config LOSCFG_PLATFORM_BSP_RISCV_ECLIC
    bool
    depends on LOSCFG_ARCH_RISCV
    help
      GD32VF103 Riscv Platform Level Interrupt Controller

config LOSCFG_PLATFORM_ARM_CONTROL
    bool
    help
      Raspberry Pi 2B/3B Arm Interrupt control

