config LOSCFG_DEMOS_INIPARSER
    bool "Enable Iniparser Demo"
    select LOSCFG_COMPONENTS_FS_RAMFS
    select LOSCFG_COMPONENTS_INIPARSER
    default n
    help
      Answer y to enable iniparser demo.
