config LOSCFG_COMPONENTS_NETWORK
    bool

menu "Network"

osource "components/net/lwip/Kconfig"
osource "components/net/ifconfig/Kconfig"
osource "components/net/ping/Kconfig"
osource "components/net/net_at/Kconfig"
osource "components/net/sal/Kconfig"
osource "components/net/pcap/Kconfig"
osource "components/net/los_iperf/Kconfig"
osource "components/net/tftp_server/Kconfig"
osource "components/net/librws/Kconfig"
osource "components/net/http_parser/Kconfig"

endmenu
