menu "Components"

source "components/ai/Kconfig"
source "components/connectivity/Kconfig"
source "components/fs/Kconfig"
source "components/gui/Kconfig"
source "components/language/Kconfig"
source "components/lib/Kconfig"
source "components/log/Kconfig"
source "components/media/Kconfig"
source "components/net/Kconfig"
#source "components/ota/Kconfig"
source "components/security/Kconfig"
source "components/sensorhub/Kconfig"
source "components/utility/Kconfig"

endmenu