config LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    bool

config LOSCFG_COMPONENTS_ATINY_MQTT
    bool "Enable Agenttiny Mqtt"
    select LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    select LOSCFG_COMPONENTS_CONNECTIVITY_MQTT
    select LOSCFG_COMPONENTS_SECURITY_MBEDTLS
    default n
    help
      Answer y to enable agent tiny mqtt.

config LOSCFG_COMPONENTS_ATINY_LWM2M
    bool "Enable Agenttiny Lwm2m"
    select LOSCFG_COMPONENTS_FS_VFS
    select LOSCFG_COMPONENTS_CONNECTIVITY_AGENTTINY
    select LOSCFG_COMPONENTS_CONNECTIVITY_LWM2M
    select LOSCFG_COMPONENTS_SECURITY_MBEDTLS
    default n
    help
      Answer y to enable agent tiny lwm2m.
