menu "FileSystem Demo"

config LOSCFG_DEMOS_FS_FAT
    bool "Enable Fat FileSystem Demo"
    default n
    select LOSCFG_COMPONENTS_FS_FATFS
    select LOSCFG_DEMOS_FS
    help
      Answer y to enable fat filesystem demo.

config LOSCFG_DEMOS_FS_LITTLEFS
    bool "Enable Littlefs FileSystem Demo"
    default n
    select LOSCFG_COMPONENTS_FS_LITTLEFS
    select LOSCFG_DEMOS_FS
    help
      Answer y to enable littlefs filesystem demo.

config LOSCFG_DEMOS_FS_RAM
    bool "Enable Ram FileSystem Demo"
    default n
    select LOSCFG_COMPONENTS_FS_RAMFS
    select LOSCFG_DEMOS_FS
    help
      Answer y to enable ram filesystem demo.

config LOSCFG_DEMOS_FS_SPIF
    bool "Enable Spi Flash FileSystem Demo"
    default n
    select LOSCFG_COMPONENTS_FS_SPIFFS
    select LOSCFG_DEMOS_FS
    help
      Answer y to enable spi flash filesystem demo.

config LOSCFG_DEMOS_FS
    bool

endmenu
