config LOSCFG_COMPONENTS_NET_SAL
    bool "Enable Atiny Sal"
    default n
    help
      Answer y to enable atiny sal.

config LOSCFG_ATINY_SOCKET_DEBUG
    bool "Enable Atiny Socket Debug"
    default n
    depends on LOSCFG_COMPONENTS_NET_SAL
    help
      Answer y to enable atiny socket debug.