config LOSCFG_COMPONENTS_CONNECTIVITY_NB_IOT
    bool "Enable NB IoT"
    select LOSCFG_COMPONENTS_NET_AT
    default n
    help
      Answer y to enable nb iot.

choice
    prompt "Choose AT Device"
    default LOSCFG_AT_DEVICE_BC95
    depends on LOSCFG_COMPONENTS_CONNECTIVITY_NB_IOT

    config LOSCFG_AT_DEVICE_BC95
    select LOSCFG_COMPONENTS_NET_AT_BC95
    bool "Enable bc95"

    config LOSCFG_AT_DEVICE_BG36
    select LOSCFG_COMPONENTS_NET_AT_BG36
    bool "Enable bg36"
endchoice
