config LOSCFG_COMPONENTS_TFTP_SERVER
    bool "Enable Tftp Server"
    select LOSCFG_COMPONENTS_NET_LWIP
    select LOSCFG_COMPONENTS_FS_FATFS
    default n
    help
    Answer y to enable tftp server.
