menu "Device OTA"

config LOSCFG_COMPONENTS_OTA
    bool "Enable OTA"
    select LOSCFG_COMPONENTS_SECURITY
    select LOSCFG_DTLS_CRET_ENCRYPT
    select LOSCFG_COMPONENTS_SECURITY_MBEDTLS
    select LOSCFG_COMPONENTS_NETWORK
    select LOSCFG_COMPONENTS_NET_LWIP
    select LOSCFG_COMPONENTS_NET_SAL
    select LOSCFG_DTLS_CERT_ENCRYPT
    default n
    help
      Answer y to enable ota.

config LOSCFG_OTA_DEBUG
    bool "Enable OTA Debug"
    default n
    depends on LOSCFG_COMPONENTS_OTA
    help
      Answer y to enable ota debug.

endmenu
