config LOSCFG_DEMOS_BIDIREFERENCE
    bool "Enable Bidireference Demo"
    select LOSCFG_COMPONENTS_BIDIREFERENCE
    select LOSCFG_COMPONENTS_FS_RAMFS
    default n
    help
      Answer y to enable bidireference demo.
