menu "Utility Demo"

source "demos/utility/bidireference/Kconfig"
source "demos/utility/c-algorithms/Kconfig"
source "demos/utility/curl/Kconfig"
source "demos/utility/fastlz/Kconfig"
source "demos/utility/freetype/Kconfig"
source "demos/utility/harfbuzz/Kconfig"
source "demos/utility/iconv/Kconfig"
source "demos/utility/inih/Kconfig"
source "demos/utility/iniparser/Kconfig"
source "demos/utility/json-c/Kconfig"
source "demos/utility/jsoncpp/Kconfig"
source "demos/utility/libxml2/Kconfig"
source "demos/utility/pdfgen/Kconfig"
source "demos/utility/sqlite/Kconfig"
source "demos/utility/tinyxml2/Kconfig"
source "demos/utility/sfud/Kconfig"
source "demos/utility/uriparser/Kconfig"

endmenu
