menu "Utility Demo"

source "demos/utility/bidireference/Kconfig"
source "demos/utility/fastlz/Kconfig"
source "demos/utility/freetype/Kconfig"
source "demos/utility/iconv/Kconfig"
source "demos/utility/iniparser/Kconfig"
source "demos/utility/json-c/Kconfig"
source "demos/utility/jsoncpp/Kconfig"
source "demos/utility/libxml2/Kconfig"
source "demos/utility/sqlite/Kconfig"

endmenu
