config LOSCFG_COMPONENTS_IPERF
    bool "Enable Iperf"
    select LOSCFG_SHELL
    select LOSCFG_COMPONENTS_NET_LWIP
    default n
    help
      Answer y to enable iperf.

config LOSCFG_NET_IPERF_JITTER
    bool "Enable Udp jitter"
    depends on LOSCFG_COMPONENTS_IPERF
    default n
    help
      Answer y to enable jitter statistics.

