config LOSCFG_PLATFORM
    string
    default "realview-pbx-a9" if LOSCFG_PLATFORM_PBX_A9
    default "qemu-virt-a53"   if LOSCFG_PLATFORM_QEMU_VIRT_A53

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_QEMU
    default LOSCFG_PLATFORM_PBX_A9
    help
      qemu-virt-a53
      realview-pbx-a9

config LOSCFG_PLATFORM_PBX_A9
    bool "realview-pbx-a9"
    select LOSCFG_ARCH_CORTEX_A9
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_PRIVATE_TIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_USING_BOARD_LD

config LOSCFG_PLATFORM_QEMU_VIRT_A53
    bool "qemu-virt-a53"
    select LOSCFG_ARCH_CORTEX_A53
    select LOSCFG_ARM_GIC_V2
    select LOSCFG_ARM_GENERIC_TIMER
    select LOSCFG_DRIVERS_UART_ARM_PL011
    select LOSCFG_ARCH_ARM_AARCH64
    select LOSCFG_USING_BOARD_LD

endchoice
