config LOSCFG_PLATFORM
    string
    default "FM33LC0XX_DEMO"           	if LOSCFG_PLATFORM_FM33LC0XX_DEMO

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_FMSH
    default LOSCFG_PLATFORM_FM33LC0XX_DEMO
    help
      support several boards:
      FM33LC0XX_DEMO

config LOSCFG_PLATFORM_FM33LC0XX_DEMO
    bool "FM33LC0XX_DEMO"
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARCH_CORTEX_M0
    select LOSCFG_CORTEX_M_NVIC
    select LOSCFG_CORTEX_M_SYSTICK
    select LOSCFG_DRIVER_HAL_LIB

endchoice

