config LOSCFG_PLATFORM
    string
    default "ESP32"      if LOSCFG_PLATFORM_ESP32
    default "ESP8266"    if LOSCFG_PLATFORM_ESP8266

config LOSCFG_XTENSA_WINDOWSPILL
    bool "Enable Window Spill"
    default y
    depends on LOSCFG_ARCH_XTENSA_LX6
    help
        XTENSA window spill

config LOSCFG_XTENSA_LOOPS
    bool "Enable Xtensa Loops"
    default y
    depends on LOSCFG_ARCH_XTENSA_LX6
    help
        XTENSA loop

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_XTENSA
    default LOSCFG_PLATFORM_ESP32
    help
      ESP32
      ESP8266

config LOSCFG_PLATFORM_ESP32
    bool "ESP32"
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARCH_XTENSA_LX6
    select LOSCFG_XTENSA_LX6_TIMER
    select LOSCFG_LX6_INT_CONTROLLER

config LOSCFG_PLATFORM_ESP8266
    bool "ESP8266"
    select LOSCFG_USING_BOARD_LD
    select LOSCFG_ARCH_XTENSA_L106
    select LOSCFG_XTENSA_LX6_TIMER
    select LOSCFG_LX6_INT_CONTROLLER

endchoice

