config LOSCFG_PLATFORM
    string
    default "CB2201"      if LOSCFG_PLATFORM_CB2201

choice
    prompt "Board"
    depends on LOSCFG_FAMILY_CSKY
    default LOSCFG_PLATFORM_CB2201
    help
      CB2201

config LOSCFG_PLATFORM_CB2201
    bool "CB2201"
    select LOSCFG_ARCH_CSKY_CK802
    select LOSCFG_PLATFORM_BSP_VIC
    select LOSCFG_CSKY_SYSTICK
    select LOSCFG_DRIVERS_UART_CSKY_PORT
    select LOSCFG_DRIVER_CSKY_LIB
    select LOSCFG_USING_BOARD_LD

endchoice
